#windowBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(97, 210, 255);
    border-style: solid;
    border-color: blue;
}

* {
    box-sizing: border-box;
}

#pageContainer {
    display: flex;
    flex-direction: column;
}

#contentContainer {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttonsWindow {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    border-style: solid;
    border-color: rgba(116, 156, 203);
    border-radius: 2vw;
    width: 24vw;
    height: 80vh;
    background-color: rgba(147, 205, 221);
    justify-content: center;
}

#detailsWindow {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(116, 156, 203);
    border-radius: 2vw;
    width: 70vw;
    height: 80vh;
    background-color: rgba(242, 242, 242);
    align-items: center;
}

#specificDeatils {
    text-align: center;
    border-style: solid;
    border-color: rgb(116, 156, 203);
    margin-top: 1vh;
    width: 62vw;
    height: 20vh;
    background-color: #ffffff;
}

#clockController {
    font-size: 2vw;
    display: block;
    font-size: 3vw;
    width: 10vw;
    align-self: center;
    cursor: pointer;
    padding: 0.2vw;
    background-image: linear-gradient(rgb(247, 247, 247), rgb(192, 192, 190));
}

#clock {
    display: block;
    text-align: center;
    font-size: 2vw;
    width: 10vw;
    align-self: center;
    background-image: linear-gradient(rgba(105, 253, 112, 0.8), rgba(42, 248, 93, 0.8));
    border-color: rgb(28, 255, 104);
    border-style: solid;
}

.sideButton {
    padding: 1vw;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    align-self: center;
    text-align: center;
    margin: 1vh;
    width: 10vw;
    background-image: linear-gradient(-180deg, #6ab9f0 0%, #0095ff 100%);
    box-shadow: 0 1rem 1.25rem 0 rgba(1, 20, 65, 0.5), 0 -0.25rem 1.5rem rgb(1, 196, 255) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.8) inset, 0 0.25rem 0.5rem 0 rgb(59, 95, 255) inset;
}

.addButton {
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    align-self: center;
    text-align: center;
    width: 5vw;
    background-image: linear-gradient(-180deg, #6ab9f0 0%, #0095ff 100%);
    box-shadow: 0 1rem 1.25rem 0 rgba(1, 20, 65, 0.5), 0 -0.25rem 1.5rem rgb(1, 196, 255) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.8) inset, 0 0.25rem 0.5rem 0 rgb(59, 95, 255) inset;
}

.logo {
    margin-top: 0.2vh;
    display: block;
    align-self: center;
    margin-right: 0.3vw;
    width: 4.4vw;
}

#headline {
    direction: rtl;
    display: flex;
    width: 95vw;
    background-color: rgb(182, 244, 255);
    border-style: solid;
    border-color: blue;
    border-radius: 1vw;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

#websiteTitle {
    -webkit-text-stroke: 0.07vw white;
    text-shadow: 0.3vw 0.3vw 0 rgb(113, 104, 245), 0.3vw -0.3vw 0 rgb(113, 104, 245), -0.3vw 0.3vw 0 rgb(113, 104, 245), -0.3vw -0.3vw 0 rgb(113, 104, 245);
    font-weight: bold;
    color: blue;
    letter-spacing: 0.5vw;
    font-size: 4vw;
    justify-self: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.deatilsFont {
    font-size: 1.5vw;
}

#wellcomeMessage {
    align-self: center;
    font-size: 1.5vw;
    vertical-align: middle;
}

#lastConnection {
    font-size: 0.95vw;
}

#connectionsDeatils {
    margin-left: 1vw;
}

.deatilsFont {
    font-size: 1.5vw;
}

#allDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    direction: rtl;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: rgb(116, 156, 203);
    width: 62vw;
    height: 50vh;
    background-color: #ffffff;
}

#allDetailsTable {
    font-size: 1vw;
    width: 40vw;
    direction: rtl;
}

#fitstDetailsTableLine {
    color: white;
    font-size: 1.5vw;
    background-color: rgb(43, 43, 43);
}

.defualtRowDetailsTabale {
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    background-color: rgb(145, 145, 145);
}

.leftCenterContiner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.triangle-up {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 0.35vw solid transparent;
    border-right: 0.35vw solid transparent;
    border-bottom: 0.7vw solid rgb(107, 117, 252);
}

.triangle-down {
    cursor: pointer;
    width: 0;
    height: 0;
    margin-top: 0.2vw;
    border-left: 0.35vw solid transparent;
    border-right: 0.35vw solid transparent;
    border-top: 0.7vw solid rgb(107, 117, 252);
}