#windowBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(97, 210, 255);
  border-style: solid;
  border-color: blue;
}

#headline {
  width: 95vw;
  height: 15vh;
  background-color: rgb(182, 244, 255);
  border-style: solid;
  border-color: blue;
  border-radius: 2vw;
  margin-top: 2%;
  margin-left: 2.2%;
}

#buttonsWindow {
  margin-right: 50px;
  border-style: solid;
  border-color: rgba(116, 156, 203);
  ;
  border-radius: 20px;
  width: 24%;
  height: 80%;
  background-color: rgba(147, 205, 221);
  float: right;
}


#detailsWindow {
  border-style: solid;
  border-color: rgba(116, 156, 203);
  border-radius: 20px;
  margin-left: 40px;
  width: 66%;
  height: 80%;
  background-color: rgba(242, 242, 242);
  float: left;
}

#allDetails {
  text-align: center;
  border-style: solid;
  border-color: rgba(116, 156, 203);
  margin-top: 10px;
  margin-left: 35px;
  width: 90%;
  height: 63%;
  background-color: #ffffff;
  float: left;
}

#secipcDeatils {
  text-align: center;
  border-style: solid;
  border-color: rgba(116, 156, 203);
  margin-top: 10px;
  margin-left: 35px;
  width: 90%;
  height: 30%;
  background-color: #ffffff;
  float: left;
}

.button {
  text-align: center;
  margin-top: 8px;
  margin-left: 37px;
  width: 70%;
  height: 9%;
  background-image: linear-gradient(200deg, rgba(89, 183, 208), rgb(20, 123, 151), rgba(89, 183, 208));
  float: left;
}

.cenetered {
  margin-top: 50%;
  margin-bottom: 50%;
}

.buttonText {
  color: white;
  margin-top: 20px;
  font-size: 30px;

}

.logo {
  width: 6%;
  height: 6%;
  margin-right: 1%;
}

#headText {
  -webkit-text-stroke: 0.6vw rgba(135, 206, 250, 0.8);
  font-weight: bold;
  color: blue;
  font-size: 4vw;
  margin-right: 14%;
  margin-top: 0.4%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

#headTextBigger {
  -webkit-text-stroke: 0.07vw white;
  font-weight: bold;
  color: blue;
  font-size: 4vw;
  margin-right: 14%;
  margin-top: 0.4%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}