#windowBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(97, 210, 255);
    border-style: solid;
    border-color: blue;
}

* {
    box-sizing: border-box;
}

#pageContainer {
    display: flex;
    flex-direction: column;
}

#contentContainer {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pushLeft {
    /* margin-right: auto;
    margin-left: 2vw; */
}

#buttonsWindow {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    border-style: solid;
    border-color: rgba(116, 156, 203);
    border-radius: 2vw;
    width: 24vw;
    height: 80vh;
    background-color: rgba(147, 205, 221);
    justify-content: center;
}

#detailsWindow {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(116, 156, 203);
    border-radius: 2vw;
    width: 70vw;
    height: 80vh;
    background-color: rgba(242, 242, 242);
    align-items: center;
}

#allDetails {
    text-align: center;
    border-style: solid;
    border-color: rgb(116, 156, 203);
    width: 62vw;
    height: 50vh;
    background-color: #ffffff;
}

#specificDeatils {
    text-align: center;
    border-style: solid;
    border-color: rgb(116, 156, 203);
    margin-top: 1vh;
    width: 62vw;
    height: 20vh;
    background-color: #ffffff;
}

.sideButton {
    color: white;
    font-size: 3vh;
    cursor: pointer;
    align-self: center;
    text-align: center;
    margin: 1vh;
    width: 10vw;
    background-image: linear-gradient(-180deg, #6ab9f0 0%, #0095ff 100%);
    box-shadow: 0 1rem 1.25rem 0 rgba(1, 20, 65, 0.5), 0 -0.25rem 1.5rem rgb(1, 196, 255) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.8) inset, 0 0.25rem 0.5rem 0 rgb(59, 95, 255) inset;
}

.sideButton span {
    color: transparent;
    background-image: linear-gradient(0deg, #11dbff 0%, #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0 1vw 1vw rgb(8, 135, 255));
}

.logo {
    margin-top: 0.2vh;
    display: block;
    align-self: center;
    margin-right: 0.3vw;
    width: 4.4vw;
}

#headline {
    direction: rtl;
    display: flex;
    width: 95vw;
    background-color: rgb(182, 244, 255);
    border-style: solid;
    border-color: blue;
    border-radius: 1vw;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}


/* 
#headText {
    transform: translate(-5%, -52%);
    -webkit-text-stroke: 0.6vw rgba(135, 206, 250, 0.8);
    font-weight: bold;
    color: blue;
    font-size: 4vw;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
} */

#websiteTitle {
    -webkit-text-stroke: 0.07vw white;
    text-shadow: 0.3vw 0.3vw 0 rgb(113, 104, 245), 0.3vw -0.3vw 0 rgb(113, 104, 245), -0.3vw 0.3vw 0 rgb(113, 104, 245), -0.3vw -0.3vw 0 rgb(113, 104, 245);
    font-weight: bold;
    color: blue;
    font-size: 4vw;
    justify-self: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.deatilsFont {
    font-size: 1.5vw;
}

#wellcomeMessage {
    align-self: center;
    font-size: 1.5vw;
    vertical-align: middle;
}

#lastConnection {
    font-size: 0.95vw;
}

#connectionsDeatils {
    margin-left: 1vw;
}