#windowBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(97, 210, 255);
    border-style: solid;
    border-color: blue;
}

* {
    box-sizing: border-box;
}

#pageContainer {
    display: flex;
    flex-direction: column;
}

#contentContainer {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.push {
    margin-right: auto;
    margin-left: 2%;
}

#buttonsWindow {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    border-style: solid;
    border-color: rgba(116, 156, 203);
    border-radius: 2vw;
    width: 24.5%;
    height: 80vh;
    background-color: rgba(147, 205, 221);
    justify-content: center;
}

#detailsWindow {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(116, 156, 203);
    border-radius: 2vw;
    width: 70.5%;
    height: 80vh;
    background-color: rgba(242, 242, 242);
    align-items: center;
}

#allDetails {
    text-align: center;
    border-style: solid;
    border-color: rgb(116, 156, 203);
    width: 90%;
    height: 63%;
    background-color: #ffffff;
    float: left;
}

#specificDeatils {
    text-align: center;
    border-style: solid;
    border-color: rgb(116, 156, 203);
    margin-top: 1%;
    width: 90%;
    height: 30%;
    background-color: #ffffff;
    float: left;
}

.sideButton {
    color: white;
    font-size: 3vh;
    cursor: pointer;
    align-self: center;
    text-align: center;
    margin: 2.2%;
    width: 10vw;
    background-image: linear-gradient(-180deg, #6ab9f0 0%, #0095ff 100%);
    box-shadow: 0 1rem 1.25rem 0 rgba(1, 20, 65, 0.5), 0 -0.25rem 1.5rem rgb(1, 196, 255) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.8) inset, 0 0.25rem 0.5rem 0 rgb(59, 95, 255) inset;
}

.sideButton span {
    color: transparent;
    background-image: linear-gradient(0deg, #11dbff 0%, #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0 1vw 1vw rgb(8, 135, 255));
    float: left;
}

.logo {
    transform: translate(-20%, 5%);
    width: 4vw;
}

#headline {
    direction: rtl;
    display: flex;
    width: 96%;
    background-color: rgb(182, 244, 255);
    border-style: solid;
    border-color: blue;
    border-radius: 1vw;
    align-self: center;
    align-items: center;
}

#headText {
    transform: translate(-5%, -52%);
    -webkit-text-stroke: 0.6vw rgba(135, 206, 250, 0.8);
    font-weight: bold;
    color: blue;
    font-size: 4vw;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

#headTextBigger {
    transform: translate(-5%, -52%);
    -webkit-text-stroke: 0.07vw white;
    font-weight: bold;
    color: blue;
    font-size: 4vw;
    margin-top: 0%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.deatilsFont {
    font-size: 1.5vw;
}

#helloeName {
    align-self: center;
    font-size: 1.5vw;
    vertical-align: middle;
}

#lastConnection {
    font-size: 0.95vw;
    margin-top: 0px;
}